:root {
    --sidebar-width: 250px;
}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    z-index: 50;
    top: 0;
    left: calc(-1 * var(--sidebar-width));
    bottom: 0;
    background-color: var(--bulma-scheme-main-bis);
    overflow-x: hidden;
    transition: 0.5s;
    padding: .75rem;
}

.sidebar.is-active {
    left: 0;
}

.sidebar a {
    background-color: transparent;
}

@media (prefers-color-scheme: light) {
    .sidebar a.is-active {
        color: black;
    }
}


@media (min-width: 1024px) {
    .sidebar {
        top: calc(var(--bulma-navbar-height) + 5px);
        left: 0;
    }

    .main {
        margin-left: var(--sidebar-width);
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 40;
}

.overlay.is-active {
    display: block;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.toast-enter-active,
.toast-leave-active {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.toast-enter-from, .toast-leave-to {
    transform: translateY(50px);
    opacity: 0;
}

.toast-enter-to, .toast-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.navbar {
    border-bottom: 1px solid var(--bulma-border);
}
