<!doctype html>
<html lang="<%= CTX.locale %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link href="/static/css/todomvc-app.css?v=2.4.3" rel="stylesheet" />
    <link href="/static/css/style.css?v=0.0.1" rel="stylesheet" />
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "vue": "/static/js/vue.esm-browser.prod.js?v=3.5.25",
          "./utils": "/static/js/utils.js?v=0.0.1"
        }
      }
    </script>

    <%= VIEW %>
  </body>
</html>
